@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

.search-comp{
    margin-left: 450px;
}
.addmovie-comp{
    margin-left: 450px;
}
.profile-comp{
    margin-left: 450px;
}
.description-comp{
    margin-left: 450px;
}